label.requerido:after{
    content: " *";
    color: #e73d4a;
}
.btn-accion-tabla {
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}
.d-inline{
    display: inline;
}
.width70{
    width: 70px !important;
} 

.pl-20{
    padding-left:20px !important;
}
.pl-30{
    padding-left:30px !important;
}
.pl-40{
    padding-left:40px !important;
} 

.skin-blue .main-header .navbar {
    background-color: #e4e10b;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #007841; 
}

.skin-blue .main-header .logo {
    background-color: #e4e10b;   
}

.skin-blue .main-header .logo:hover {
    background-color: #007841;   
}

.skin-blue .main-sidebar {
    background-color: #007841;
}

.skin-blue .main-header li.user-header {
    background-color: #007841;
}

.text-success {
    color: #e4e10b;
}
